{% extends "base.html" %} {% block title %} Trang chủ {% endblock %}
{% block content %}
{% load static %}
<!-- body -->
<div class="w-full pt-[6.5rem]">
    <div class="w-full  overflow-hidden relative">
        <div class=" flex h-[35rem] overflow-x-auto whitespace-nowrap items-center  w-full banner-slide-container transition-transform east-in-out">
            
        
            {% for object in images %}
            <img src="{{ object.image.url }}" class=" w-full flex-1  h-full banner-slide-img rounded-sm shadow" alt="banner">
        {% endfor %}
        </div>
        

    </div>
    <div class="px-4 py-6">
        <h2 class="text-lg font-bold text-gray-700">Sản phẩm Nổi bật</h2>
        <div class="flex flex-wrap ">
            {% for product in products%}
                <a href="/product_detail/{{product.id}}/" class="w-1/4  min-h-[350px]  px-2 py-4">
                   <div class="bg-white  relative hover:shadow-md rounded-md transition duration-300 border border-slate-300">
                     <img src="{{product.image.url}}" alt="san pham" class="h-[20rem] w-full">
                    <label  class="absolute top-1 left-1 px-4  text-sm py-0.5 rounded-sm bg-green-500 text-white">Mới</label>
                    <button  class="absolute top-2 right-2">
                        <img src="{% static 'images/icons/noHeart.png' %}" class="w-6 h-6" alt="">
                    </button>
                    <div class="px-4">
                        <nav class="flex justify-between px-2 py-2">
                            <p class="text-sm">{{product.stars}} sao</p>
                            <p class="text-sm">{{product.color}}</p>
                        </nav>
                            <p class="h-[66px] overflow-hidden">{{product.title}}</p>
                            <p class="font-semibold text-red-500 py-2">{{product.price}} <sup class="font-normal">₫</sup></p>
                    </div>
                   </div>
                </a>
            {% endfor %}
        </div>
        <!-- Recommend -->
         <h2 class="text-lg font-bold text-gray-700">Sản phẩm Dành cho bạn</h2>
        <div class="flex flex-wrap ">
            {% for product in products%}
                <a href="/product_detail/{{product.id}}/" class="w-1/4  min-h-[350px]  px-2 py-4">
                   <div class="bg-white  relative hover:shadow-md rounded-md transition duration-300 border border-slate-300">
                     <img src="{{product.image.url}}" alt="san pham" class="h-[20rem] w-full">
                    <label  class="absolute top-1 left-1 px-4  text-sm py-0.5 rounded-sm bg-green-500 text-white">Mới</label>
                    <button  class="absolute top-2 right-2">
                        <img src="{% static 'images/icons/noHeart.png' %}" class="w-6 h-6" alt="">
                    </button>
                    <div class="px-4">
                        <nav class="flex justify-between px-2 py-2">
                            <p class="text-sm">{{product.stars}} sao</p>
                            <p class="text-sm">{{product.color}}</p>
                        </nav>
                            <p class="h-[66px] overflow-hidden">{{product.title}}</p>
                            <p class="font-semibold text-red-500 py-2">{{product.price}} <sup class="font-normal">₫</sup></p>
                    </div>
                   </div>
                </a>
            {% endfor %}
        </div>
        
    </div>
</div>
<script >
    var currentIndex = 0;
var images = document.querySelectorAll(".banner-slide-img");
setInterval(function () {
  currentIndex = (currentIndex + 1) % images.length;
  images.forEach(function (img, index) {
    if (index === currentIndex) {
      img.style.display = "inline-block"; // Hiển thị hình ảnh hiện tại
     
    } else {
      img.style.display = "none"; // Ẩn các hình ảnh khác
     
    }
  });
}, 2000); // Đổi hình ảnh mỗi 1 giây

</script>
{%endblock%}