{% extends "base.html" %} {% block title %} Đăng nhập {% endblock %}
{% block content %}

    <div class="container mt-[14rem] mx-auto w-[40rem]" id="container">
        <div class=" w-full  ">
            <form class="loginForm  w-full" method="post">
                <h1 class="text-lg font-bold">Đăng nhập</h1>
                
                
                <span>Hoặc sử dụng email và mật khẩu</span>
                <div class="w-full">
                    {% csrf_token %}
           
                    <div class="">
                        <label for="id_username">Tên người dùng:</label>
                        <input type="text" name="username" class="formInput" placeholder="Tên người dùng..." required="" id="id_username" fdprocessedid="lqjyzb">     
                    </div>
                    <div class="">
                        <label for="id_password">Mật khẩu:</label>
                        <input type="password" name="password" class="formInput" placeholder="Nhập mật khẩu..." required="" id="id_password" fdprocessedid="wuyld">    
                        
                    </div>
                </div>
                <div class="flex justify-between w-full my-2">
                    <button type="submit" class="bg-blue-800 text-sm rounded-md px-4 py-2  text-white">Đăng Nhập</button>
                </div>
                
            </form>
            <div class="flex items-center px-10 text-base">
                <button class="text-blue-500 ml-auto">Quên mật khẩu?</button>
                <p class=" px-2 mt-0 mb-0 ">chưa có tài khoản? </p>
                <a href="{% url 'register' %}"  class="my-0"><p class=" text-blue-600 hover:underline">Đăng Kí</p></a>
            </div>
        </div>
       
    </div>
{%endblock%}
