{% extends "base.html" %} {% block title %}Tìm kiếm  {% endblock %}
{% block content %}
    <div class="p-10 pt-[8rem]">
        <div class="w-full h-full ">
            <h2 class="text-4xl flex justify-center flex items-center text-gray-600">- kết quả tìm kiếm :   
                 <p class="px-2 text-3xl text-red-500 uppercase">{{ title }}
                 </p>
            
                </h2>
           <div class="my-2 flex items-center flex-wrap">
              {% for post in PostsResult %}
                <div class="w-1/4 h-[25rem]  px-2 py-2">
                    <a href="/product_detail/{{post.id}}/" class="w-full h-full">
                    <div class="rounded-sm w-full h-full bg-white shadow">
                        <img src="{{ post.image.url }}" class="w-full p-2 h-1/2" alt="">
                        <div class="px-4 py-1  h-full">
                        <p class="text-lg font-bold text-center text-gray-700 overflow-hidden">{{ post.title }}</p>
                         <div class="flex items-center justify-between py-2 leading-4">
                            <p class="italic  text-[13.5px] flex items-end justify-end ">màu: {{post.color}}</p>
                                <time class="italic  text-[13.5px] flex items-end justify-end ">giá {{post.price}}</time>
                        </div>
                        </div>

                    </div>
                </a>
                </div>
              {% endfor %}
           </div>
        </div>
    </div>
{%endblock%}
